{% extends 'base.html' %} <!-- part17 -->


{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Profile</h1>
	<p>Username:{{user}}</p>
	<p>First name:{{user.first_name}}</p>
	<p>Last name:{{user.last_name}}</p>
	<p>Email:{{user.email}}</p>	
	<p>Description:{{user.userprofile.description}}</p> <!-- part35 -->
	<p>Phone:{{user.userprofile.phone}}</p>
	<p>City:{{user.userprofile.city}}</p>
	<p>Website:{{user.userprofile.website}}</p>		<!-- part35 -->
	{% if user.userprofile.image %} <!-- part53 -->
	<img src="{{user.userprofile.image.url}}" width="240"><!-- part36 -->
	{% endif %}
</div>
 
{% endblock %}
