<!-- In views.py ds is wht u see -->
from django.shortcuts import render,HttpResponse


def home(request):
	numbers = [1,2,3,4,5]
	name = 'Eze Chidera'

	args = {'name':name,'numbers':numbers}
	return render(request, 'advertisment/home.html',args)

<!-- in the home.html ds is wht u see -->
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'advertisment/style.css' %}">
</head>
<body>
<div class="container">
	<h1>Welcome</h1>
     Welcome! You can login here!
     <button class="btn btn-defualt" type="button" name="button">Login</button>
</div>
<h1>{{name}}</h1>
<ul> 
	{% for number in numbers %}
	<li>{{number}}</li>
	{% endfor %}
</ul>
     

</body>
</html>